1. Bubble Sort Algorithm/obj/Debug/net7.0/1. Bubble Sort Algorithm.assets.cache
1. Bubble Sort Algorithm/obj/Debug/net7.0/1. Bubble Sort Algorithm.GeneratedMSBuildEditorConfig.editorconfig
2. Merge Sort Algorithm/obj/Debug/net7.0/2. Merge Sort Algorithm.assets.cache
2. Merge Sort Algorithm/obj/Debug/net7.0/2. Merge Sort Algorithm.GeneratedMSBuildEditorConfig.editorconfig
3. Selection Sort Algorithm/obj/Debug/net7.0/3. Selection Sort Algorithm.assets.cache
3. Selection Sort Algorithm/obj/Debug/net7.0/3. Selection Sort Algorithm.GeneratedMSBuildEditorConfig.editorconfig
